#comments {
  border-top: 1px solid #E3E7E8;

  #submit {
    @extend .btn;
    @extend .btn-form;
    font-size: 1em;
    padding: 10px 20px;
  }

  label {
    display: block;
    margin: 0;
  }

  textarea {
    width: 100%;
    border: 1px solid #E3E7E8;
  }
}
