//@import "bootstrap";
.ee-table.ee-registrations-list {
  margin-bottom: $line-height-computed/2  ;
}

.ee-table.ee-registrations-list,
.tkt-slctr-tbl {
  width: 100%;
  background: #f7fafb;
  border: 1px solid #e4eef2;
  border-collapse: initial;

  th,
  td {
    padding: 5px 20px !important;
  }

  .tiny-text {
    padding-bottom: $line-height-computed/2;
  }

  // Hiding the price columns since everything is free
  .ee-ticket-selector-ticket-price-th,
  .tckt-slctr-tbl-td-price {
    display: none;
  }

  .display-tckt-slctr-tkt-details.display-the-hidden {
    display: none;
  }

  .ee-ticket-selector-ticket-qty-th,
  .tckt-slctr-tbl-td-qty {
    text-align: right;
  }
}

.event-content {
  .ee-event-datetimes-ul {
    list-style: none;
    padding: 0 0 $line-height-computed/2;
    border-bottom: 1px solid #e4eef2;
  }
}

.spco-next-step-btn,
.ticket-selector-submit-btn {
  border-radius: 30px;
  border: none;
  background: $green;
  padding: 10px 20px;
  color: #fff;
  text-transform: uppercase;
  transition: background 0.3s, opacity 0.3s, color 0.3s ease;

  &:hover {
    background: darken($green,10);
  }
}

.tckt-slctr-tbl-td-name {
  b {
    font-weight: 100;
  }
}

.espresso-venue-dv {

  h4 {
    margin: 0;
  }

  p {
    margin: 0;
  }
}

#espresso-registration-footer-dv {
  display: none;
}

#espresso-thank-you-page-overview-dv .ee-button.ee-roundish.indented-text.big-text,
.spco-steps-big-hdr,
#spco-steps-display-dv {
  display: none;
}

// Hide price info on the checkout page

.spco-ticket-info-dv.small-text {
  thead {
    th {
      &:nth-of-type(3n+4),
      &:nth-of-type(3n+3) {
        display: none;
      }
    }
  }
  .item {
    .item_r ,
    .item_c {
      display: none;
    }
  }
}

.content {
  .spco-whats-next-buttons {
    padding-top: 0;
  }

  .small-text {
    font-weight: 100;
    font-size: 0.95em;
  }

  .ee-attention {
    background: #d9edf7;
    border: 1px solid #bce8f1;
    text-align: left;
    color: #31708f;
  }

  #espresso-social-buttons-dv {
    margin: $line-height-computed*2 0;
    @include clearfix;
  }

  .tiny-text {
      font-size: .9em;
      font-weight: 100;
  }

  .ee-icon-only-lnk {
      margin: 0 10px $line-height-computed 0;
  }

  .ee-button, .ee-button:active, .ee-button:visited {
    line-height: 1.5;
  }
}

.ee-reg-form-attendee-dv {
  input {
    padding: 10px;
  }

  .ee-reg-qstn {
    margin-bottom: $line-height-computed/2;
  }
}

#espresso-social-buttons-dv-g-plusone {
  margin-left: 10px;
}

.ee_participant_widget {
  .event-attendees-list {

    li {
    margin-bottom: $line-height-computed/2;
    }

    img {
      border-radius: 50%;
      margin-right: 5px;
    }
  }
}


#espresso_calendar {

  .fc-day-header {
    background: #149EEB;
    border: 1px solid #149EEB;
    color: white;
  }
}

.fc-header-left,
.fc-header-right {
  .fc-button {
    border-radius: 23px !important;
    min-width: 20px;
    text-align: center;
  }
}
