/* line 3, ../scss/utils/_markup-mixins.scss */
.btn-group:after, #header:after, .navbar-collapse:after, #nav:after, .phone-hold:after, .gray-box:after, .lib-panel > .box-shadow:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 11, ../scss/utils/_markup-mixins.scss */
#nav, .location-list, .carousel-indicators, .sponsor-list, .social-list, .jcf-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 111, ../scss/utils/_markup-mixins.scss */
.lib-panel > .box-shadow {
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-jat6cd");
  src: url("../fonts/icomoon.eot?#iefix-jat6cd") format("embedded-opentype"), url("../fonts/icomoon.ttf?-jat6cd") format("truetype"), url("../fonts/icomoon.woff?-jat6cd") format("woff"), url("../fonts/icomoon.svg?-jat6cd#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../scss/base/_fonts-ico.scss */
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 25, ../scss/base/_fonts-ico.scss */
.icon-twitter:before {
  content: "\e606";
}

/* line 29, ../scss/base/_fonts-ico.scss */
.icon-linkedin:before {
  content: "\e605";
}

/* line 33, ../scss/base/_fonts-ico.scss */
.icon-search:before {
  content: "\e603";
}

/* line 37, ../scss/base/_fonts-ico.scss */
.icon-mapmarker:before {
  content: "\e604";
}

/* line 41, ../scss/base/_fonts-ico.scss */
.icon-circle-check:before {
  content: "\e601";
}

/* line 45, ../scss/base/_fonts-ico.scss */
.icon-circle-plus:before {
  content: "\e602";
}

/* line 49, ../scss/base/_fonts-ico.scss */
.icon-bookmark:before {
  content: "\e600";
}

/* line 1, ../scss/base/_base.scss */
body {
  min-width: 320px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none;
}

/* line 7, ../scss/base/_base.scss */
a {
  transition: background 0.3s, opacity 0.3s, color 0.3s ease;
  outline: none;
}

/* line 12, ../scss/base/_base.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 17, ../scss/base/_base.scss */
h1 {
  margin: 0 0 27px;
}

/* line 21, ../scss/base/_base.scss */
h2 {
  margin: 0 0 32px;
}

/* line 25, ../scss/base/_base.scss */
p {
  margin: 0 0 35px;
}
@media (max-width: 767px) {
  /* line 25, ../scss/base/_base.scss */
  p {
    margin-bottom: 29px;
  }
}

/* line 33, ../scss/base/_base.scss */
#wrapper {
  overflow: hidden;
  position: relative;
}

/* line 38, ../scss/base/_base.scss */
.container-fluid {
  max-width: 1170px;
}

/* line 42, ../scss/base/_base.scss */
.form-control, .register-page #user_login,
.register-page #user_pass,
.login-page #user_login,
.login-page #user_pass {
  line-height: 20px;
  padding: 2px 34px;
  border: 0;
  box-shadow: none;
}
/* line 25, ../scss/utils/_markup-mixins.scss */
.form-control::-webkit-input-placeholder, .register-page #user_login::-webkit-input-placeholder,
.register-page #user_pass::-webkit-input-placeholder,
.login-page #user_login::-webkit-input-placeholder,
.login-page #user_pass::-webkit-input-placeholder {
  color: #8b8c8d;
}
/* line 26, ../scss/utils/_markup-mixins.scss */
.form-control::-moz-placeholder, .register-page #user_login::-moz-placeholder,
.register-page #user_pass::-moz-placeholder,
.login-page #user_login::-moz-placeholder,
.login-page #user_pass::-moz-placeholder {
  opacity: 1;
  color: #8b8c8d;
}
/* line 27, ../scss/utils/_markup-mixins.scss */
.form-control:-moz-placeholder, .register-page #user_login:-moz-placeholder,
.register-page #user_pass:-moz-placeholder,
.login-page #user_login:-moz-placeholder,
.login-page #user_pass:-moz-placeholder {
  color: #8b8c8d;
}
/* line 28, ../scss/utils/_markup-mixins.scss */
.form-control:-ms-input-placeholder, .register-page #user_login:-ms-input-placeholder,
.register-page #user_pass:-ms-input-placeholder,
.login-page #user_login:-ms-input-placeholder,
.login-page #user_pass:-ms-input-placeholder {
  color: #8b8c8d;
}
/* line 29, ../scss/utils/_markup-mixins.scss */
.form-control.placeholder, .register-page .placeholder#user_login,
.register-page .placeholder#user_pass,
.login-page .placeholder#user_login,
.login-page .placeholder#user_pass {
  color: #8b8c8d;
}
/* line 52, ../scss/base/_base.scss */
.form-control:focus, .register-page #user_login:focus,
.register-page #user_pass:focus,
.login-page #user_login:focus,
.login-page #user_pass:focus {
  box-shadow: none;
}
@media (max-width: 991px) {
  /* line 42, ../scss/base/_base.scss */
  .form-control, .register-page #user_login,
  .register-page #user_pass,
  .login-page #user_login,
  .login-page #user_pass {
    padding: 2px 15px;
  }
}

/* line 61, ../scss/base/_base.scss */
.btn, #comments #submit {
  border: 0;
  padding: 18px 50px 18px 46px;
  font-size: 18px;
  line-height: 22px;
  transition: background 0.3s, opacity 0.3s, color 0.3s ease;
  outline: none !important;
}
/* line 69, ../scss/base/_base.scss */
.btn [class^="icon-"], #comments #submit [class^="icon-"] {
  font-size: 15px;
  margin-right: 19px;
}

@media (max-width: 767px) {
  /* line 75, ../scss/base/_base.scss */
  .form-hold {
    margin-bottom: 27px;
  }
}

@media (max-width: 767px) {
  /* line 81, ../scss/base/_base.scss */
  .btn-group {
    padding-bottom: 20px;
  }
}
/* line 88, ../scss/base/_base.scss */
.btn-group .btn, .btn-group #comments #submit, #comments .btn-group #submit {
  font-size: 13px;
  line-height: 16px;
  padding: 16px 16px 16px 24px;
}
@media (max-width: 1249px) {
  /* line 88, ../scss/base/_base.scss */
  .btn-group .btn, .btn-group #comments #submit, #comments .btn-group #submit {
    padding: 16px 10px;
  }
}
@media (max-width: 767px) {
  /* line 88, ../scss/base/_base.scss */
  .btn-group .btn, .btn-group #comments #submit, #comments .btn-group #submit {
    width: 50%;
  }
}
@media (max-width: 767px) {
  /* line 101, ../scss/base/_base.scss */
  .location-section .btn-group .btn, .location-section .btn-group #comments #submit, #comments .location-section .btn-group #submit {
    width: 100px;
  }
}
/* line 107, ../scss/base/_base.scss */
.btn-group .btn.btn-logout, .btn-group #comments .btn-logout#submit, #comments .btn-group .btn-logout#submit {
  padding: 16px 24px 16px 24px;
}
/* line 111, ../scss/base/_base.scss */
.btn-group .btn + .btn, .btn-group #comments #submit + .btn, #comments .btn-group #submit + .btn, .btn-group #comments .btn + #submit, #comments .btn-group .btn + #submit, .btn-group #comments #submit + #submit, #comments .btn-group #submit + #submit {
  border-left: 1px solid #fff;
  z-index: 3;
  padding: 16px 24px 16px 16px;
}
@media (max-width: 1249px) {
  /* line 111, ../scss/base/_base.scss */
  .btn-group .btn + .btn, .btn-group #comments #submit + .btn, #comments .btn-group #submit + .btn, .btn-group #comments .btn + #submit, #comments .btn-group .btn + #submit, .btn-group #comments #submit + #submit, #comments .btn-group #submit + #submit {
    padding: 16px 10px;
  }
}
/* line 122, ../scss/base/_base.scss */
.btn-group .btn.btn-primary:first-child, .btn-group #comments .btn-primary#submit:first-child, #comments .btn-group .btn-primary#submit:first-child {
  background: #3b6db2;
}
/* line 125, ../scss/base/_base.scss */
.btn-group .btn.btn-primary:first-child:hover, .btn-group #comments .btn-primary#submit:first-child:hover, #comments .btn-group .btn-primary#submit:first-child:hover {
  background: #2e568c;
}
/* line 131, ../scss/base/_base.scss */
.btn-group .btn.btn-outlined, .btn-group #comments .btn-outlined#submit, #comments .btn-group .btn-outlined#submit {
  background: transparent;
  border: 1px solid white;
  color: white;
}
/* line 136, ../scss/base/_base.scss */
.btn-group .btn.btn-outlined:hover, .btn-group #comments .btn-outlined#submit:hover, #comments .btn-group .btn-outlined#submit:hover {
  background: white;
  color: #3b6db2;
}

/* line 145, ../scss/base/_base.scss */
.bg-stretch {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden;
}

/* line 155, ../scss/base/_base.scss */
.btn-form, #comments #submit {
  background: #3b6db2;
  border-radius: 27px;
  color: #fff;
}
/* line 160, ../scss/base/_base.scss */
.btn-form:hover, #comments #submit:hover {
  background: #2e568c;
}

/* line 1, ../scss/layout/_header.scss */
#header {
  padding: 18px 15px 23px;
}
@media (max-width: 767px) {
  /* line 1, ../scss/layout/_header.scss */
  #header {
    padding-top: 19px;
  }
}
/* line 9, ../scss/layout/_header.scss */
#header .btn-group {
  margin: 0 -15px 0 10px;
}
@media (max-width: 767px) {
  /* line 9, ../scss/layout/_header.scss */
  #header .btn-group {
    margin: 0;
    display: block;
    text-align: center;
  }
}
/* line 18, ../scss/layout/_header.scss */
#header .btn-group .btn, #header .btn-group #comments #submit, #comments #header .btn-group #submit {
  font-weight: 700;
}
/* line 20, ../scss/layout/_header.scss */
.logged-in #header .btn-group .btn, .logged-in #header .btn-group #comments #submit, #comments .logged-in #header .btn-group #submit {
  /*width: 100%;*/
}
@media (max-width: 767px) {
  /* line 1, ../scss/layout/_header.scss */
  #header {
    padding-bottom: 0;
  }
}

/* line 31, ../scss/layout/_header.scss */
.navbar-brand {
  padding: 0;
  height: auto;
  width: 248px;
}
@media (max-width: 991px) {
  /* line 31, ../scss/layout/_header.scss */
  .navbar-brand {
    float: none;
    width: 100%;
    text-align: center;
    margin: 0 0 18px;
  }
}
@media (max-width: 767px) {
  /* line 31, ../scss/layout/_header.scss */
  .navbar-brand {
    margin-bottom: 24px;
  }
}

/* line 48, ../scss/layout/_header.scss */
.navbar-collapse {
  padding-left: 316px;
  letter-spacing: -3px;
  text-align: right;
}
@media (max-width: 1249px) {
  /* line 48, ../scss/layout/_header.scss */
  .navbar-collapse {
    padding-left: 260px;
  }
}
@media (max-width: 991px) {
  /* line 48, ../scss/layout/_header.scss */
  .navbar-collapse {
    padding-left: 0;
  }
}
@media (max-width: 767px) {
  /* line 48, ../scss/layout/_header.scss */
  .navbar-collapse {
    padding-right: 0;
    background: #f8f6f6;
    margin: 0 -15px;
    padding: 0 15px;
  }
}
/* line 69, ../scss/layout/_header.scss */
.navbar-collapse * {
  letter-spacing: 0;
}

/* line 74, ../scss/layout/_header.scss */
.nav-bar {
  display: inline-block;
  vertical-align: middle;
  width: 62.3%;
  text-align: left;
}
@media (max-width: 991px) {
  /* line 74, ../scss/layout/_header.scss */
  .nav-bar {
    width: 65%;
  }
}
@media (max-width: 767px) {
  /* line 74, ../scss/layout/_header.scss */
  .nav-bar {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 20px;
  }
}

/* line 92, ../scss/layout/_header.scss */
#nav {
  font-size: 13px;
  line-height: 16px;
}
@media (max-width: 767px) {
  /* line 92, ../scss/layout/_header.scss */
  #nav {
    margin: 0 -15px;
  }
}
/* line 102, ../scss/layout/_header.scss */
#nav li {
  float: left;
}
@media (max-width: 767px) {
  /* line 102, ../scss/layout/_header.scss */
  #nav li {
    width: 100% !important;
    padding: 0 15px 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #00aff0;
  }
}
/* line 113, ../scss/layout/_header.scss */
#nav li.active a {
  color: #90d400;
}
/* line 116, ../scss/layout/_header.scss */
#nav li.active a span {
  color: #7fba00;
}
/* line 123, ../scss/layout/_header.scss */
#nav a {
  color: #788ea6;
}
/* line 126, ../scss/layout/_header.scss */
#nav a:hover {
  color: #90d400;
}
/* line 129, ../scss/layout/_header.scss */
#nav a:hover span {
  color: #7fba00;
}
/* line 135, ../scss/layout/_header.scss */
#nav .style-color {
  display: block;
  font-size: 15px;
  line-height: 26px;
  font-weight: 700;
  color: #00aff0;
  transition: color 0.3s ease;
}

@media (max-width: 767px) {
  /* line 145, ../scss/layout/_header.scss */
  .phone-hold {
    background: #3b6db2;
    margin: 0 -15px;
    padding: 10px 31px 17px 26px;
  }
}

@media (max-width: 767px) {
  /* line 156, ../scss/layout/_header.scss */
  .img-hold {
    max-width: 38px;
  }
}

@media (max-width: 767px) {
  /* line 162, ../scss/layout/_header.scss */
  .navbar-toggle {
    padding: 0;
    border: 0;
    margin: 5px 0 0;
    height: 23px;
    border-radius: 0;
  }
}
@media (max-width: 767px) {
  /* line 171, ../scss/layout/_header.scss */
  .navbar-toggle .icon-bar {
    height: 5px;
    width: 26px;
    border-radius: 2px;
  }
}

/* line 1, ../scss/layout/_content.scss */
.banner {
  background: #00aff0;
  position: relative;
  z-index: 1;
  padding: 0;
}
@media (max-width: 767px) {
  /* line 1, ../scss/layout/_content.scss */
  .banner {
    padding: 0 0 35px;
  }
}
/* line 12, ../scss/layout/_content.scss */
.banner:before {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  bottom: 0;
  height: 34px;
  background: #fff;
  z-index: -2;
}
@media (max-width: 767px) {
  /* line 12, ../scss/layout/_content.scss */
  .banner:before {
    display: none;
  }
}
/* line 27, ../scss/layout/_content.scss */
.banner .bg-stretch {
  max-width: 1170px;
  width: 100%;
  right: auto;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}
@media (max-width: 767px) {
  /* line 27, ../scss/layout/_content.scss */
  .banner .bg-stretch {
    position: static;
    height: 242px;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    margin-bottom: 23px;
  }
}
/* line 45, ../scss/layout/_content.scss */
.banner .bg-stretch img {
  max-width: none;
}
/* line 50, ../scss/layout/_content.scss */
.banner h1 {
  font-size: 45px;
  line-height: 52px;
  color: #fff;
  margin: 0 0 41px;
}
@media (max-width: 767px) {
  /* line 50, ../scss/layout/_content.scss */
  .banner h1 {
    margin-bottom: 0;
    font-size: 35px;
    line-height: 40px;
  }
}
/* line 62, ../scss/layout/_content.scss */
.banner h1 span {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  display: block;
  margin: 0 0 15px;
}
@media (max-width: 767px) {
  /* line 62, ../scss/layout/_content.scss */
  .banner h1 span {
    font-size: 17px;
    line-height: 23px;
    margin-bottom: 7px;
  }
}

/* line 78, ../scss/layout/_content.scss */
.huge_it_slideshow_title_text_1 {
  font-size: 18px !important;
  line-height: 22px !important;
  font-weight: 400 !important;
  display: block !important;
  margin: 0 0 15px !important;
}

/* line 86, ../scss/layout/_content.scss */
.huge_it_slideshow_image_container_1 .huge_it_slideshow_title_text_1 {
  text-decoration: none;
  z-index: 11;
  display: inline-block;
  width: auto  !important;
  right: auto  !important;
  top: atuo  !important;
  padding: none  !important;
  text-align: left  !important;
  color: white  !important;
  background: transparent !important;
  border-style: 0px  !important;
}

/* line 100, ../scss/layout/_content.scss */
.location-section {
  text-align: center;
  background: #fff;
  padding: 50px 0 68px;
}
@media (max-width: 767px) {
  /* line 100, ../scss/layout/_content.scss */
  .location-section {
    padding: 10px 0 30px;
  }
}

/* line 110, ../scss/layout/_content.scss */
.select-form {
  margin: 0 0 22px;
  letter-spacing: -4px;
}
@media (max-width: 767px) {
  /* line 110, ../scss/layout/_content.scss */
  .select-form {
    margin-bottom: 19px;
  }
}
/* line 118, ../scss/layout/_content.scss */
.select-form * {
  letter-spacing: 0;
}
/* line 122, ../scss/layout/_content.scss */
.select-form .text-hold {
  display: inline-block;
  vertical-align: middle;
  margin: 0 15px 0 0;
  text-transform: uppercase;
  color: #b4c2c7;
  font-weight: 700;
}
/* line 130, ../scss/layout/_content.scss */
.select-form .text-hold [class^="icon-"] {
  margin: 0 0 0 5px;
}

/* line 136, ../scss/layout/_content.scss */
.gray-box {
  background: #f7fafb;
  border: 1px solid #e4eef2;
  padding: 49px 0 55px;
  margin: 0 0 52px;
  border-radius: 2px;
}
@media (max-width: 767px) {
  /* line 136, ../scss/layout/_content.scss */
  .gray-box {
    margin: 0 -15px 30px;
    border-width: 1px 0;
    padding: 21px 0 0;
  }
}

/* line 151, ../scss/layout/_content.scss */
.location-col {
  position: relative;
  padding: 0 30px;
  color: #60718a;
}
@media (max-width: 767px) {
  /* line 151, ../scss/layout/_content.scss */
  .location-col {
    margin-bottom: 60px;
  }
}
/* line 160, ../scss/layout/_content.scss */
.location-col:before {
  position: absolute;
  content: '';
  left: 0;
  width: 1px;
  background: #e4eef2;
  top: 2px;
  bottom: 2px;
}
/* line 171, ../scss/layout/_content.scss */
.location-col:first-child:before {
  display: none;
}
/* line 176, ../scss/layout/_content.scss */
.location-col a {
  color: inherit;
}
/* line 179, ../scss/layout/_content.scss */
.location-col a:hover {
  color: #00aff0;
}
/* line 182, ../scss/layout/_content.scss */
.location-col a:hover .name-hold {
  color: #7fba00;
}
/* line 188, ../scss/layout/_content.scss */
.location-col .time-hold {
  display: block;
  text-transform: uppercase;
  padding: 0 0 17px;
  position: relative;
  font-size: 15px;
  line-height: 18px;
  margin: 0 0 14px;
}
/* line 197, ../scss/layout/_content.scss */
.location-col .time-hold:before {
  position: absolute;
  content: '';
  left: 50%;
  max-width: 170px;
  width: 100%;
  bottom: 0;
  height: 1px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  background: #e4eef2;
}
/* line 211, ../scss/layout/_content.scss */
.location-col .time-hold span {
  display: block;
  font-size: 70px;
  line-height: 74px;
  font-weight: 300;
  margin: 0 0 6px;
}
/* line 220, ../scss/layout/_content.scss */
.location-col .name-hold {
  display: block;
  color: #2e3b4e;
  font-size: 20px;
  line-height: 24px;
  transition: color 0.3s ease;
}

/* line 229, ../scss/layout/_content.scss */
.location-list {
  column-count: 4;
  column-gap: 0;
  -moz-column-count: 4;
  -moz-column-gap: 0;
  -webkit-column-count: 4;
  -webkit-column-gap: 0;
  text-align: left;
  margin: 0 0 63px;
}
@media (max-width: 1023px) {
  /* line 229, ../scss/layout/_content.scss */
  .location-list {
    column-count: 3;
    -moz-column-count: 3;
    -webkit-column-count: 3;
  }
}
@media (max-width: 991px) {
  /* line 229, ../scss/layout/_content.scss */
  .location-list {
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
  }
}
@media (max-width: 767px) {
  /* line 229, ../scss/layout/_content.scss */
  .location-list {
    column-count: 1;
    -moz-column-count: 1;
    -webkit-column-count: 1;
    margin-bottom: 20px;
  }
}
/* line 259, ../scss/layout/_content.scss */
.location-list li {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  padding: 0 10px 0 0;
  margin: 0 0 5px;
}
/* line 267, ../scss/layout/_content.scss */
.location-list a {
  padding: 0 0 0 22px;
  position: relative;
}
/* line 271, ../scss/layout/_content.scss */
.location-list a:before {
  position: absolute;
  content: '\e604';
  font-family: 'icomoon';
  left: 0;
  bottom: -5px;
}

/* line 281, ../scss/layout/_content.scss */
.info-section {
  background: #00aff0;
  color: #fff;
  padding: 89px 0 388px;
  position: relative;
  z-index: 1;
  font-size: 15px;
  line-height: 26px;
}
@media (max-width: 767px) {
  /* line 281, ../scss/layout/_content.scss */
  .info-section {
    padding: 50px 0;
  }
}
/* line 294, ../scss/layout/_content.scss */
.info-section .picture-hold {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  max-width: 704px;
  width: 100%;
  z-index: -1;
}
@media (max-width: 767px) {
  /* line 294, ../scss/layout/_content.scss */
  .info-section .picture-hold {
    display: none;
  }
}
/* line 314, ../scss/layout/_content.scss */
.info-section .btn, .info-section #comments #submit, #comments .info-section #submit {
  padding: 18px 35px 18px 26px;
  margin-top: 30px;
}
/* line 317, ../scss/layout/_content.scss */
.info-section .btn [class^="icon-"], .info-section #comments #submit [class^="icon-"], #comments .info-section #submit [class^="icon-"] {
  font-size: 24px;
  margin-right: 10px;
  margin-top: -5px;
  display: inline-block;
  vertical-align: middle;
}

/* line 327, ../scss/layout/_content.scss */
.subscribe-section {
  padding: 71px 0 83px;
  color: #fff;
  text-align: center;
  background: #3b6db2;
}
@media (max-width: 767px) {
  /* line 327, ../scss/layout/_content.scss */
  .subscribe-section {
    padding: 50px 0;
  }
}
/* line 337, ../scss/layout/_content.scss */
.subscribe-section p {
  margin: 0 0 39px;
}

/* line 342, ../scss/layout/_content.scss */
.subscribe-form {
  margin: 0;
  padding: 0 85px;
  text-align: left;
}
@media (max-width: 767px) {
  /* line 342, ../scss/layout/_content.scss */
  .subscribe-form {
    padding: 0;
  }
}
/* line 351, ../scss/layout/_content.scss */
.subscribe-form .form-group {
  float: left;
  width: 24.5%;
  margin: 0 0 1.7% 1.7%;
}
@media (max-width: 991px) {
  /* line 351, ../scss/layout/_content.scss */
  .subscribe-form .form-group {
    width: 23.5%;
  }
}
@media (max-width: 767px) {
  /* line 351, ../scss/layout/_content.scss */
  .subscribe-form .form-group {
    float: none;
    width: 100%;
    margin: 0 0 15px;
  }
}
/* line 366, ../scss/layout/_content.scss */
.subscribe-form .form-group:first-child {
  width: 21.7%;
  margin-left: 0;
}
@media (max-width: 767px) {
  /* line 366, ../scss/layout/_content.scss */
  .subscribe-form .form-group:first-child {
    width: 100%;
  }
}
/* line 376, ../scss/layout/_content.scss */
.subscribe-form .btn, .subscribe-form #comments #submit, #comments .subscribe-form #submit {
  margin: 0 0 0 1.4%;
  padding: 18px 28px 17px 31px;
}
@media (max-width: 991px) {
  /* line 376, ../scss/layout/_content.scss */
  .subscribe-form .btn, .subscribe-form #comments #submit, #comments .subscribe-form #submit {
    padding: 17px 10px;
    width: 26%;
  }
}
@media (max-width: 767px) {
  /* line 376, ../scss/layout/_content.scss */
  .subscribe-form .btn, .subscribe-form #comments #submit, #comments .subscribe-form #submit {
    width: 100%;
    margin: 0;
  }
}
/* line 390, ../scss/layout/_content.scss */
.subscribe-form .btn [class^="icon-"], .subscribe-form #comments #submit [class^="icon-"], #comments .subscribe-form #submit [class^="icon-"] {
  font-size: 24px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -5px;
}

/* line 400, ../scss/layout/_content.scss */
.sponsor-section {
  text-align: center;
  background: #f7fafb;
  border-bottom: 1px solid #e4eef2;
  padding: 62px 0 69px;
  color: #7d868b;
}
@media (max-width: 767px) {
  /* line 400, ../scss/layout/_content.scss */
  .sponsor-section {
    padding: 30px 0;
  }
}
/* line 411, ../scss/layout/_content.scss */
.sponsor-section h1 {
  margin-bottom: 40px;
}

/* line 416, ../scss/layout/_content.scss */
.carousel-inner {
  margin: 0 0 31px;
}

/* line 420, ../scss/layout/_content.scss */
.carousel-indicators {
  margin: 0;
  letter-spacing: -4px;
  position: static;
  width: 100%;
}
/* line 427, ../scss/layout/_content.scss */
.carousel-indicators li {
  display: inline-block;
  vertical-align: top;
  letter-spacing: 0;
  margin: 0 5px !important;
  text-indent: -9999px;
  overflow: hidden;
  width: 11px !important;
  height: 11px !important;
  border-radius: 50%;
  background: transparent;
  border-width: 2px;
  transition: background 0.3s ease;
}
/* line 441, ../scss/layout/_content.scss */
.carousel-indicators li:hover, .carousel-indicators li.active {
  background: #7d868b;
}

/* line 448, ../scss/layout/_content.scss */
.sponsor-list {
  letter-spacing: -4px;
}
/* line 457, ../scss/layout/_content.scss */
.sponsor-list li {
  display: inline-block;
  vertical-align: middle;
  letter-spacing: 0;
  width: 25%;
}
@media (max-width: 767px) {
  /* line 457, ../scss/layout/_content.scss */
  .sponsor-list li {
    width: 50%;
  }
}
/* line 470, ../scss/layout/_content.scss */
.sponsor-list img {
  max-width: 90%;
  opacity: .8;
  transition: all 0.2s ease-in-out;
  /* IE4-8 and 9 (deprecated). */
  filter: Gray();
  /* SVG version for IE10, Chrome 17, FF3.5,
  Safari 5.2 and Opera 11.6 */
  filter: url("#grayscale");
  /* CSS3 filter, at the moment Webkit only. Prefix it for
  future implementations */
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  /* future-proof */
}
/* line 485, ../scss/layout/_content.scss */
.sponsor-list img:hover {
  filter: none;
  -webkit-filter: none;
  opacity: 1;
}
@media (max-width: 767px) {
  /* line 470, ../scss/layout/_content.scss */
  .sponsor-list img {
    width: 100%;
  }
}

/* line 499, ../scss/layout/_content.scss */
.archive .sponsor-list li {
  margin-bottom: 12.5px;
}

/* line 505, ../scss/layout/_content.scss */
.news-section {
  background: #fff;
  padding: 58px 0 83px;
  text-align: center;
  line-height: 25px;
}
@media (max-width: 767px) {
  /* line 505, ../scss/layout/_content.scss */
  .news-section {
    padding: 25px 0;
  }
}
/* line 515, ../scss/layout/_content.scss */
.news-section h1 {
  margin-bottom: 29px;
}
/* line 519, ../scss/layout/_content.scss */
.news-section .btn, .news-section #comments #submit, #comments .news-section #submit {
  margin: 0 0 60px;
  padding: 18px 44px 18px 43px;
}
@media (max-width: 767px) {
  /* line 519, ../scss/layout/_content.scss */
  .news-section .btn, .news-section #comments #submit, #comments .news-section #submit {
    margin-bottom: 35px;
  }
}
/* line 527, ../scss/layout/_content.scss */
.news-section .btn [class^="icon-"], .news-section #comments #submit [class^="icon-"], #comments .news-section #submit [class^="icon-"] {
  margin-right: 15px;
}

/* line 533, ../scss/layout/_content.scss */
.news-list {
  padding: 0;
  list-style: none;
  text-align: left;
}
/* line 538, ../scss/layout/_content.scss */
.news-list li {
  margin-bottom: 25px;
}
/* line 542, ../scss/layout/_content.scss */
.news-list .text-block {
  background: #f7fafb;
  border: 1px solid #e4eef2;
  padding: 44px 50px 44px 37px;
}
@media (max-width: 991px) {
  /* line 542, ../scss/layout/_content.scss */
  .news-list .text-block {
    padding: 20px 15px;
  }
}
/* line 552, ../scss/layout/_content.scss */
.news-list h2 {
  font-size: 23px;
  line-height: 30px;
  margin-bottom: 13px;
}
@media (max-width: 991px) {
  /* line 552, ../scss/layout/_content.scss */
  .news-list h2 {
    font-size: 20px;
    line-height: 26px;
  }
}
/* line 562, ../scss/layout/_content.scss */
.news-list h2 a {
  color: #60718a;
}
/* line 565, ../scss/layout/_content.scss */
.news-list h2 a:hover {
  color: #7fba00;
}
@media (max-width: 991px) {
  /* line 571, ../scss/layout/_content.scss */
  .news-list p {
    margin-bottom: 5px;
  }
}
/* line 577, ../scss/layout/_content.scss */
.news-list img {
  max-width: none;
  width: 100%;
}

/* line 583, ../scss/layout/_content.scss */
.middle {
  background: #fff;
  padding-bottom: 50px;
}

/* line 590, ../scss/layout/_content.scss */
.page-id-105 .middle,
.page-id-103 .middle {
  padding-bottom: 0;
}

/* line 595, ../scss/layout/_content.scss */
.page-title {
  background: #149EEB;
  color: #fff;
  padding: 25px 0;
  margin-bottom: 25px;
  border-bottom: 10px solid #21468B;
}
/* line 602, ../scss/layout/_content.scss */
.page-title h2 {
  margin: 0 0 8.33333px;
  padding: 0;
  font-size: 40px;
}
/* line 608, ../scss/layout/_content.scss */
.page-title .btn-header {
  float: left;
  margin-top: 25px;
  display: none;
}
@media (min-width: 993px) {
  /* line 608, ../scss/layout/_content.scss */
  .page-title .btn-header {
    float: right;
    margin-top: 0;
    display: block;
  }
}
@media (min-width: 993px) {
  /* line 595, ../scss/layout/_content.scss */
  .page-title {
    padding: 62.5px 0;
  }
}
/* line 624, ../scss/layout/_content.scss */
.page-title .subtitle {
  margin-bottom: 0px;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
}
/* line 630, ../scss/layout/_content.scss */
.page-title .subtitle a {
  color: #fff;
}
/* line 633, ../scss/layout/_content.scss */
.page-title .subtitle a:hover {
  text-decoration: underline;
}

/* line 641, ../scss/layout/_content.scss */
.page-template-page-mapbox .page-title {
  margin-bottom: 0;
}

/* line 651, ../scss/layout/_content.scss */
.lib-panel {
  margin-bottom: 20px;
}

/* line 655, ../scss/layout/_content.scss */
.card-img {
  text-align: center;
}
/* line 658, ../scss/layout/_content.scss */
.card-img img {
  width: 90%;
  height: auto;
  background-color: transparent;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  margin: 5% auto;
  border: 5px solid #EAEAEA;
}

/* line 671, ../scss/layout/_content.scss */
.sponsor-card-img img {
  margin: 5% auto;
}

/* line 683, ../scss/layout/_content.scss */
.lib-panel .row,
.lib-panel .col-sm-6,
.lib-panel .col-sm-9,
.lib-panel .col-sm-3 {
  padding: 0;
  background-color: #FFFFFF;
}

/* line 691, ../scss/layout/_content.scss */
.lib-panel .lib-row {
  padding: 0 20px 0 20px;
}

/* line 695, ../scss/layout/_content.scss */
.lib-panel .lib-row.lib-header {
  background-color: #FFFFFF;
  font-size: 20px;
  padding: 10px 20px 0 20px;
}
/* line 700, ../scss/layout/_content.scss */
.lib-panel .lib-row.lib-header p {
  margin-bottom: 12.5px;
}

/* line 705, ../scss/layout/_content.scss */
.lib-panel .lib-row.lib-header .lib-header-seperator {
  height: 2px;
  width: 26px;
  background-color: #d9d9d9;
  margin: 7px 0 7px 0;
}

/* line 712, ../scss/layout/_content.scss */
.lib-panel .lib-row.lib-desc {
  position: relative;
  height: 100%;
  display: block;
  font-size: 13px;
  margin-bottom: 35px;
}

/* line 720, ../scss/layout/_content.scss */
.lib-panel .lib-row.lib-desc a {
    /*
		position: absolute;
    width: 100%;
    bottom: 10px;
    left: 20px;
		*/
}

/* line 730, ../scss/layout/_content.scss */
.lib-panel .lib-row.lib-desc p {
  margin: 0;
}
/* line 734, ../scss/layout/_content.scss */
.lib-panel .lib-row.lib-desc p + p {
  margin: 20px 0 0 0;
}

/* line 739, ../scss/layout/_content.scss */
.row-margin-bottom {
  margin-bottom: 20px;
}

@media (min-width: 993px) {
  /* line 744, ../scss/layout/_content.scss */
  .home-about {
    column-count: 2;
    column-gap: 50px;
    -moz-column-count: 2;
    -moz-column-gap: 50px;
    -webkit-column-count: 2;
    -webkit-column-gap: 50px;
  }
  /* line 751, ../scss/layout/_content.scss */
  .home-about h1 {
    column-span: all;
    -webkit-column-span: all;
  }
}
/* line 760, ../scss/layout/_content.scss */
.register-page h2,
.login-page h2 {
  margin-bottom: 50px;
}
/* line 764, ../scss/layout/_content.scss */
.register-page .subscribe-form,
.login-page .subscribe-form {
  padding-left: 0;
  padding-bottom: 100px;
}
/* line 774, ../scss/layout/_content.scss */
.register-page #user_login,
.register-page #user_pass,
.login-page #user_login,
.login-page #user_pass {
  display: block;
  width: 100%;
  height: 58px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.857;
  color: #000;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 27px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
/* line 795, ../scss/layout/_content.scss */
.register-page p,
.login-page p {
  margin-bottom: 5px;
}
/* line 799, ../scss/layout/_content.scss */
.register-page .login-remember,
.login-page .login-remember {
  padding: 10px;
  float: left;
  width: 50%;
}
/* line 805, ../scss/layout/_content.scss */
.register-page .login-submit,
.login-page .login-submit {
  float: right;
  padding-top: 10px;
}
/* line 811, ../scss/layout/_content.scss */
.register-page .login-username label,
.login-page .login-username label {
  display: none;
}
/* line 816, ../scss/layout/_content.scss */
.register-page #wp-submit,
.login-page #wp-submit {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  border-radius: 27px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fff;
  background-color: #7fba00;
  border: 0;
  font-size: 18px;
  line-height: 22px;
  transition: background 0.3s, opacity 0.3s, color 0.3s ease;
  outline: none !important;
  margin: 0 0 0 1.4%;
  padding: 18px 28px 17px 31px;
}

/* line 843, ../scss/layout/_content.scss */
.post-pagination {
  margin: 25px 0 50px;
  text-align: center;
}

/* line 849, ../scss/layout/_content.scss */
.navigation.pagination h2.screen-reader-text {
  display: none;
}

/* line 854, ../scss/layout/_content.scss */
.wpcf7-form-control.wpcf7-submit,
.page-numbers {
  display: inline-block;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  background-image: none;
  white-space: nowrap;
  border-radius: 27px;
  color: #3b6db2;
  background-color: transparent;
  border: 1px solid #e4eef2;
  font-size: 18px;
  line-height: 22px;
  transition: background 0.3s, opacity 0.3s, color 0.3s ease;
  outline: none !important;
  margin: 0 0 0 1.4%;
  padding: 10px 20px;
}
/* line 874, ../scss/layout/_content.scss */
.wpcf7-form-control.wpcf7-submit.current, .wpcf7-form-control.wpcf7-submit:hover,
.page-numbers.current,
.page-numbers:hover {
  background: #f7fafb;
  color: #2e568c;
}

/* line 881, ../scss/layout/_content.scss */
.wpcf7-form-control.wpcf7-submit {
  background: #7fba00;
  color: white;
  border: none;
}
/* line 886, ../scss/layout/_content.scss */
.wpcf7-form-control.wpcf7-submit:hover {
  background: #5c8700;
  color: white;
}

/* line 894, ../scss/layout/_content.scss */
.wpcf7-form-control-wrap input,
.wpcf7-form-control-wrap textarea {
  width: 90%;
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #e1e1e1;
}

/* line 904, ../scss/layout/_content.scss */
.archive-list li {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 25px;
  margin-bottom: 25px;
}
/* line 909, ../scss/layout/_content.scss */
.archive-list li h2 {
  margin: 0;
}
/* line 913, ../scss/layout/_content.scss */
.archive-list li .event-time-cont {
  padding: 6.25px 0;
}

/* line 919, ../scss/layout/_content.scss */
.map-container {
  width: 100%;
  position: relative;
  height: 400px;
  margin-bottom: 25px;
}
/* line 925, ../scss/layout/_content.scss */
.map-container #map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 400px;
}

/* line 930, ../scss/layout/_content.scss */
.browse-meetups .browse-meetup-city {
  background: #f7fafb;
  border: 1px solid #e4eef2;
  margin-bottom: 25px;
  padding: 6px 12px;
  text-align: center;
}
/* line 937, ../scss/layout/_content.scss */
.browse-meetups .browse-meetup-city h4 {
  border-bottom: 1px solid #e4eef2;
  padding-bottom: 25px;
  margin: 12.5px 12px 25px;
  font-weight: 500;
}
/* line 943, ../scss/layout/_content.scss */
.browse-meetups .browse-meetup-city h4 a {
  color: #2e3b4e;
}
/* line 946, ../scss/layout/_content.scss */
.browse-meetups .browse-meetup-city h4 a:hover {
  color: #00aff0;
}
/* line 952, ../scss/layout/_content.scss */
.browse-meetups .browse-meetup-city p {
  margin: 0;
  padding: 0;
  position: relative;
}
/* line 958, ../scss/layout/_content.scss */
.browse-meetups .browse-meetup-city p a:before {
  position: absolute;
  content: '\e604';
  font-family: 'icomoon';
}
/* line 964, ../scss/layout/_content.scss */
.browse-meetups .browse-meetup-city p a span {
  padding-left: 20px;
}
/* line 969, ../scss/layout/_content.scss */
.browse-meetups .browse-meetup-city p:last-of-type {
  padding-bottom: 25px;
}

/* WooSlider Tweaks */
/* line 979, ../scss/layout/_content.scss */
body.home .wooslider {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  border: 0px;
  background: transparent;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  position: relative;
}
/* line 992, ../scss/layout/_content.scss */
body.home .wooslider .slide-content {
  margin: 0;
  position: relative;
}
/* line 997, ../scss/layout/_content.scss */
body.home .wooslider .slider-hover-text {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
}
@media (max-width: 767px) {
  /* line 997, ../scss/layout/_content.scss */
  body.home .wooslider .slider-hover-text {
    position: relative;
    display: block;
    top: auto;
    left: auto;
    margin: 20px auto;
    width: 90%;
  }
  /* line 1011, ../scss/layout/_content.scss */
  body.home .wooslider .slider-hover-text h1 {
    margin-bottom: 20px;
  }
  /* line 1015, ../scss/layout/_content.scss */
  body.home .wooslider .slider-hover-text p {
    margin: 0;
  }
}

/* calendar tweaks */
/* line 1024, ../scss/layout/_content.scss */
.time_cal_qtip {
  display: none;
}

@media (min-width: 1025px) {
  /* line 1, ../scss/layout/_sidebar.scss */
  .sidebar-container {
    padding-right: 0;
  }
}

/* line 7, ../scss/layout/_sidebar.scss */
#sidebar {
  text-align: left;
}
/* line 10, ../scss/layout/_sidebar.scss */
#sidebar ul {
  padding-left: 0;
}
/* line 13, ../scss/layout/_sidebar.scss */
#sidebar ul li {
  list-style: none;
}

/* line 19, ../scss/layout/_sidebar.scss */
.widget {
  margin-bottom: 25px;
}
/* line 22, ../scss/layout/_sidebar.scss */
.widget h2.widgettitle {
  margin: 0 0 12.5px;
  padding: 0 0 12.5px;
  border-bottom: 1px solid #E3E7E8;
}
/* line 27, ../scss/layout/_sidebar.scss */
.widget h2.widgettitle a {
  color: #2e3b4e;
}
/* line 32, ../scss/layout/_sidebar.scss */
.widget h5 {
  margin: 0;
  padding: 0 0 2px;
  font-size: 1.1em;
}

/* EE Recent Events Widget */
/* line 42, ../scss/layout/_sidebar.scss */
.widget_ee-upcoming-events-widget .download-iCal-frm {
  display: none;
}
/* line 46, ../scss/layout/_sidebar.scss */
.widget_ee-upcoming-events-widget .ee-upcoming-events-widget-li {
  padding-bottom: 12.5px;
  font-weight: 100;
}
/* line 50, ../scss/layout/_sidebar.scss */
.widget_ee-upcoming-events-widget .ee-upcoming-events-widget-li .ee-event-datetimes-ul {
  padding: 0;
  margin: 0;
}
/* line 55, ../scss/layout/_sidebar.scss */
.widget_ee-upcoming-events-widget .ee-upcoming-events-widget-li .ee-event-datetimes-li {
  height: 1.5em;
  overflow-y: hidden;
}
/* line 59, ../scss/layout/_sidebar.scss */
.widget_ee-upcoming-events-widget .ee-upcoming-events-widget-li .ee-event-datetimes-li .dashicons-calendar {
  display: none;
}

/* line 1, ../scss/layout/_footer.scss */
#footer {
  padding: 45px 0;
  color: #a0daf5;
  background-color: #3b6db2;
  font-size: 13px;
  line-height: 16px;
}
@media (max-width: 991px) {
  /* line 1, ../scss/layout/_footer.scss */
  #footer {
    padding: 20px 0;
  }
}
@media (max-width: 767px) {
  /* line 1, ../scss/layout/_footer.scss */
  #footer {
    text-align: center;
  }
}
/* line 16, ../scss/layout/_footer.scss */
#footer a {
  color: #a0daf5;
}
/* line 19, ../scss/layout/_footer.scss */
#footer a:hover {
  color: #fff;
}
/* line 25, ../scss/layout/_footer.scss */
#footer .social-list a {
  color: #fff;
}
/* line 28, ../scss/layout/_footer.scss */
#footer .social-list a:hover {
  color: #a0daf5;
}
@media (max-width: 767px) {
  /* line 34, ../scss/layout/_footer.scss */
  #footer .top-holder {
    float: none !important;
  }
}

/* line 41, ../scss/layout/_footer.scss */
.logo-footer {
  float: left;
  width: 93px;
  margin: 0 31px 0 0;
}
@media (max-width: 767px) {
  /* line 41, ../scss/layout/_footer.scss */
  .logo-footer {
    float: none;
    margin: 0 auto 15px;
  }
}

/* line 52, ../scss/layout/_footer.scss */
.copy {
  float: left;
  margin: 22px 0 0;
}
@media (max-width: 767px) {
  /* line 52, ../scss/layout/_footer.scss */
  .copy {
    margin: 0 0 15px;
    float: none;
  }
}

/* line 62, ../scss/layout/_footer.scss */
.social-list {
  text-align: right;
  letter-spacing: -4px;
  font-size: 30px;
  line-height: 34px;
  margin-top: 9px;
}
@media (max-width: 767px) {
  /* line 62, ../scss/layout/_footer.scss */
  .social-list {
    text-align: center;
    float: none !important;
    margin-top: 0;
  }
}
/* line 76, ../scss/layout/_footer.scss */
.social-list li {
  display: inline-block;
  vertical-align: middle;
  letter-spacing: 0;
  margin: 0 0 0 29px;
}
@media (max-width: 767px) {
  /* line 76, ../scss/layout/_footer.scss */
  .social-list li {
    margin: 0 10px;
  }
}
/* line 86, ../scss/layout/_footer.scss */
.social-list li:first-child {
  margin-left: 0;
}
@media (max-width: 767px) {
  /* line 86, ../scss/layout/_footer.scss */
  .social-list li:first-child {
    margin-left: 10px;
  }
}
/* line 95, ../scss/layout/_footer.scss */
.social-list a {
  display: inline-block;
  vertical-align: top;
}
/* line 100, ../scss/layout/_footer.scss */
.social-list .icon-linkedin {
  margin-top: -2px;
}

/* line 1, ../scss/components/_search-form.scss */
.search-form {
  display: inline-block;
  vertical-align: middle;
  width: 160px;
  background: #7fba00;
  border-radius: 22px;
  position: relative;
  padding: 10px 0 10px 36px;
}
@media (max-width: 1249px) {
  /* line 1, ../scss/components/_search-form.scss */
  .search-form {
    width: 120px;
    padding-left: 11px;
  }
}
@media (max-width: 767px) {
  /* line 1, ../scss/components/_search-form.scss */
  .search-form {
    display: block;
    margin: 0 auto 20px;
    width: 100%;
  }
}
@media (max-width: 767px) {
  /* line 21, ../scss/components/_search-form.scss */
  .location-section .search-form {
    display: inline-block;
    vertical-align: top;
    margin: 0 5px 0 0;
    width: 160px;
    padding-left: 37px;
  }
}
/* line 31, ../scss/components/_search-form.scss */
.search-form .form-control, .search-form .register-page #user_login, .register-page .search-form #user_login,
.search-form .register-page #user_pass,
.register-page .search-form #user_pass,
.search-form .login-page #user_login,
.login-page .search-form #user_login,
.search-form .login-page #user_pass,
.login-page .search-form #user_pass {
  line-height: 22px;
  height: 28px;
  background: transparent;
  color: #fff;
  padding: 2px 18px 2px 16px;
  font-weight: 700;
}
@media (max-width: 1249px) {
  /* line 31, ../scss/components/_search-form.scss */
  .search-form .form-control, .search-form .register-page #user_login, .register-page .search-form #user_login,
  .search-form .register-page #user_pass,
  .register-page .search-form #user_pass,
  .search-form .login-page #user_login,
  .login-page .search-form #user_login,
  .search-form .login-page #user_pass,
  .login-page .search-form #user_pass {
    padding-right: 6px;
  }
}
@media (max-width: 767px) {
  /* line 31, ../scss/components/_search-form.scss */
  .search-form .form-control, .search-form .register-page #user_login, .register-page .search-form #user_login,
  .search-form .register-page #user_pass,
  .register-page .search-form #user_pass,
  .search-form .login-page #user_login,
  .login-page .search-form #user_login,
  .search-form .login-page #user_pass,
  .login-page .search-form #user_pass {
    padding-left: 35px;
  }
}
@media (max-width: 767px) {
  /* line 47, ../scss/components/_search-form.scss */
  .location-section .search-form .form-control, .location-section .search-form .register-page #user_login, .register-page .location-section .search-form #user_login,
  .location-section .search-form .register-page #user_pass,
  .register-page .location-section .search-form #user_pass,
  .location-section .search-form .login-page #user_login,
  .login-page .location-section .search-form #user_login,
  .location-section .search-form .login-page #user_pass,
  .login-page .location-section .search-form #user_pass {
    padding-left: 10px;
  }
}
/* line 25, ../scss/utils/_markup-mixins.scss */
.search-form .form-control::-webkit-input-placeholder, .search-form .register-page #user_login::-webkit-input-placeholder, .register-page .search-form #user_login::-webkit-input-placeholder,
.search-form .register-page #user_pass::-webkit-input-placeholder,
.register-page .search-form #user_pass::-webkit-input-placeholder,
.search-form .login-page #user_login::-webkit-input-placeholder,
.login-page .search-form #user_login::-webkit-input-placeholder,
.search-form .login-page #user_pass::-webkit-input-placeholder,
.login-page .search-form #user_pass::-webkit-input-placeholder {
  color: #fff;
}
/* line 26, ../scss/utils/_markup-mixins.scss */
.search-form .form-control::-moz-placeholder, .search-form .register-page #user_login::-moz-placeholder, .register-page .search-form #user_login::-moz-placeholder,
.search-form .register-page #user_pass::-moz-placeholder,
.register-page .search-form #user_pass::-moz-placeholder,
.search-form .login-page #user_login::-moz-placeholder,
.login-page .search-form #user_login::-moz-placeholder,
.search-form .login-page #user_pass::-moz-placeholder,
.login-page .search-form #user_pass::-moz-placeholder {
  opacity: 1;
  color: #fff;
}
/* line 27, ../scss/utils/_markup-mixins.scss */
.search-form .form-control:-moz-placeholder, .search-form .register-page #user_login:-moz-placeholder, .register-page .search-form #user_login:-moz-placeholder,
.search-form .register-page #user_pass:-moz-placeholder,
.register-page .search-form #user_pass:-moz-placeholder,
.search-form .login-page #user_login:-moz-placeholder,
.login-page .search-form #user_login:-moz-placeholder,
.search-form .login-page #user_pass:-moz-placeholder,
.login-page .search-form #user_pass:-moz-placeholder {
  color: #fff;
}
/* line 28, ../scss/utils/_markup-mixins.scss */
.search-form .form-control:-ms-input-placeholder, .search-form .register-page #user_login:-ms-input-placeholder, .register-page .search-form #user_login:-ms-input-placeholder,
.search-form .register-page #user_pass:-ms-input-placeholder,
.register-page .search-form #user_pass:-ms-input-placeholder,
.search-form .login-page #user_login:-ms-input-placeholder,
.login-page .search-form #user_login:-ms-input-placeholder,
.search-form .login-page #user_pass:-ms-input-placeholder,
.login-page .search-form #user_pass:-ms-input-placeholder {
  color: #fff;
}
/* line 29, ../scss/utils/_markup-mixins.scss */
.search-form .form-control.placeholder, .search-form .register-page .placeholder#user_login, .register-page .search-form .placeholder#user_login,
.search-form .register-page .placeholder#user_pass,
.register-page .search-form .placeholder#user_pass,
.search-form .login-page .placeholder#user_login,
.login-page .search-form .placeholder#user_login,
.search-form .login-page .placeholder#user_pass,
.login-page .search-form .placeholder#user_pass {
  color: #fff;
}
/* line 58, ../scss/components/_search-form.scss */
.search-form .btn, .search-form #comments #submit, #comments .search-form #submit {
  position: absolute;
  left: 25px;
  top: 50%;
  font-size: 14px;
  transform: translateY(-50%);
  background: transparent;
  padding: 0;
  border: 0;
  color: #fff;
  transition: color 0.3s ease;
}
@media (max-width: 1249px) {
  /* line 58, ../scss/components/_search-form.scss */
  .search-form .btn, .search-form #comments #submit, #comments .search-form #submit {
    left: 5px;
    font-size: 12px;
  }
  /* line 74, ../scss/components/_search-form.scss */
  .search-form .btn.icon-search, .search-form #comments .icon-search#submit, #comments .search-form .icon-search#submit {
    left: 10px;
  }
}
@media (max-width: 767px) {
  /* line 58, ../scss/components/_search-form.scss */
  .search-form .btn, .search-form #comments #submit, #comments .search-form #submit {
    left: 25px;
  }
}
@media (max-width: 767px) {
  /* line 83, ../scss/components/_search-form.scss */
  .location-section .search-form .btn, .location-section .search-form #comments #submit, #comments .location-section .search-form #submit {
    left: 25px;
  }
}
/* line 89, ../scss/components/_search-form.scss */
.search-form .btn:hover, .search-form #comments #submit:hover, #comments .search-form #submit:hover {
  color: #e9ffba;
}

/* line 1, ../scss/components/_custom-form.scss */
.jcf-select {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  border: 1px solid #fff;
  background: #fff;
  width: 100%;
  height: 58px;
  border-radius: 27px;
  text-align: left;
  color: #8b8c8d;
}
/* line 13, ../scss/components/_custom-form.scss */
.location-section .jcf-select {
  width: 180px;
  border: 1px solid #e4eef2;
  background: #f7fafb;
  color: #00aff0;
  height: 50px;
}
/* line 20, ../scss/components/_custom-form.scss */
.location-section .jcf-select .jcf-select-text {
  font-size: 17px;
  line-height: 48px;
  margin: 0 35px 0 25px;
}
/* line 26, ../scss/components/_custom-form.scss */
.location-section .jcf-select .jcf-select-opener {
  right: 17px;
}
/* line 29, ../scss/components/_custom-form.scss */
.location-section .jcf-select .jcf-select-opener:after, .location-section .jcf-select .jcf-select-opener:before {
  border-color: #60718a transparent;
  top: 19px;
}
/* line 35, ../scss/components/_custom-form.scss */
.location-section .jcf-select .jcf-select-opener:after {
  bottom: 17px;
  top: auto;
}
/* line 42, ../scss/components/_custom-form.scss */
.jcf-select select {
  z-index: 1;
  left: 0;
  top: 0;
}
/* line 48, ../scss/components/_custom-form.scss */
.jcf-select .jcf-select-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  display: block;
  font-size: 16px;
  line-height: 55px;
  margin: 0 35px 0 31px;
}
@media (max-width: 991px) {
  /* line 48, ../scss/components/_custom-form.scss */
  .jcf-select .jcf-select-text {
    margin-left: 15px;
  }
}
/* line 63, ../scss/components/_custom-form.scss */
.jcf-select .jcf-select-opener {
  position: absolute;
  text-align: center;
  width: 7px;
  bottom: 0;
  right: 31px;
  top: 0;
  cursor: pointer;
}
@media (max-width: 991px) {
  /* line 63, ../scss/components/_custom-form.scss */
  .jcf-select .jcf-select-opener {
    right: 15px;
  }
}
/* line 76, ../scss/components/_custom-form.scss */
.jcf-select .jcf-select-opener:after, .jcf-select .jcf-select-opener:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: 22px;
  left: 0;
  border-style: solid;
  border-color: #a9a9a9 transparent;
  border-width: 0 4px 5px;
  z-index: 10;
}
/* line 90, ../scss/components/_custom-form.scss */
.jcf-select .jcf-select-opener:after {
  border-width: 5px 4px 0;
  top: auto;
  bottom: 21px;
}
/* line 97, ../scss/components/_custom-form.scss */
.jcf-select .jcf-select-drop {
  position: absolute;
  margin-top: 0px;
  z-index: 9999;
  top: 100%;
  left: -1px;
  right: -1px;
}
/* line 106, ../scss/components/_custom-form.scss */
.jcf-select .jcf-drop-flipped {
  bottom: 100%;
  top: auto;
}

/* line 113, ../scss/components/_custom-form.scss */
.jcf-select-drop .jcf-select-drop-content {
  border: 1px solid #00aff0;
}
/* line 117, ../scss/components/_custom-form.scss */
.jcf-select-drop .jcf-hover {
  background: #e6e6e6;
  color: #00aff0 !important;
}

/* line 124, ../scss/components/_custom-form.scss */
body > .jcf-select-drop {
  position: absolute;
  margin: 2px 0 0;
  z-index: 9999;
}
/* line 129, ../scss/components/_custom-form.scss */
body > .jcf-select-drop.jcf-drop-flipped {
  margin: 1px 0 0;
}

/* line 135, ../scss/components/_custom-form.scss */
.jcf-list-box {
  overflow: hidden;
  display: inline-block;
  border: 1px solid #b8c3c9;
  min-width: 200px;
  margin: 0 15px;
}
/* line 142, ../scss/components/_custom-form.scss */
.jcf-list-box .jcf-selected {
  background: #e6e6e6;
  color: #000;
}

/* line 148, ../scss/components/_custom-form.scss */
.jcf-list {
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: #f7fafb;
  line-height: 18px;
  font-size: 14px;
  width: 100%;
}
/* line 157, ../scss/components/_custom-form.scss */
.jcf-list .jcf-list-content {
  vertical-align: top;
  display: inline-block;
  overflow: auto;
  width: 100%;
}
/* line 164, ../scss/components/_custom-form.scss */
.jcf-list .jcf-option-hidden {
  display: none !important;
}
/* line 171, ../scss/components/_custom-form.scss */
.jcf-list ul li {
  overflow: hidden;
  display: block;
}
/* line 177, ../scss/components/_custom-form.scss */
.jcf-list .jcf-overflow {
  overflow: auto;
}
/* line 181, ../scss/components/_custom-form.scss */
.jcf-list .jcf-option {
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  display: block;
  padding: 5px 9px;
  color: #656565;
  height: 1%;
}
/* line 191, ../scss/components/_custom-form.scss */
.jcf-list .jcf-disabled {
  background: #fff !important;
  color: #aaa !important;
}
/* line 196, ../scss/components/_custom-form.scss */
.jcf-list .jcf-optgroup-caption {
  white-space: nowrap;
  font-weight: bold;
  display: block;
  padding: 5px 9px;
  cursor: default;
  color: #000;
}
/* line 206, ../scss/components/_custom-form.scss */
.jcf-list .jcf-optgroup .jcf-option {
  padding-left: 30px;
}

/* line 212, ../scss/components/_custom-form.scss */
.jcf-disabled {
  background: #ddd !important;
}

/* line 213, ../scss/components/_custom-form.scss */
.jcf-focus, .jcf-focus * {
  border-color: #00aff0 !important;
}

/* line 1, ../scss/components/_comments.scss */
#comments {
  border-top: 1px solid #E3E7E8;
}
/* line 4, ../scss/components/_comments.scss */
#comments #submit {
  font-size: 1em;
  padding: 10px 20px;
}
/* line 11, ../scss/components/_comments.scss */
#comments label {
  display: block;
  margin: 0;
}
/* line 16, ../scss/components/_comments.scss */
#comments textarea {
  width: 100%;
  border: 1px solid #E3E7E8;
}

/* line 22, ../scss/components/_comments.scss */
#disqus_thread {
  margin-bottom: 25px;
}

/* line 2, ../scss/components/_events.scss */
.ee-table.ee-registrations-list {
  margin-bottom: 12.5px;
}

/* line 6, ../scss/components/_events.scss */
.ee-table.ee-registrations-list,
.tkt-slctr-tbl {
  width: 100%;
  background: #f7fafb;
  border: 1px solid #e4eef2;
  border-collapse: initial;
}
/* line 13, ../scss/components/_events.scss */
.ee-table.ee-registrations-list th,
.ee-table.ee-registrations-list td,
.tkt-slctr-tbl th,
.tkt-slctr-tbl td {
  padding: 5px 20px !important;
}
/* line 18, ../scss/components/_events.scss */
.ee-table.ee-registrations-list .tiny-text,
.tkt-slctr-tbl .tiny-text {
  padding-bottom: 12.5px;
}
/* line 23, ../scss/components/_events.scss */
.ee-table.ee-registrations-list .ee-ticket-selector-ticket-price-th,
.ee-table.ee-registrations-list .tckt-slctr-tbl-td-price,
.tkt-slctr-tbl .ee-ticket-selector-ticket-price-th,
.tkt-slctr-tbl .tckt-slctr-tbl-td-price {
  display: none;
}
/* line 28, ../scss/components/_events.scss */
.ee-table.ee-registrations-list .display-tckt-slctr-tkt-details.display-the-hidden,
.tkt-slctr-tbl .display-tckt-slctr-tkt-details.display-the-hidden {
  display: none;
}
/* line 32, ../scss/components/_events.scss */
.ee-table.ee-registrations-list .ee-ticket-selector-ticket-qty-th,
.ee-table.ee-registrations-list .tckt-slctr-tbl-td-qty,
.tkt-slctr-tbl .ee-ticket-selector-ticket-qty-th,
.tkt-slctr-tbl .tckt-slctr-tbl-td-qty {
  text-align: right;
}

/* line 39, ../scss/components/_events.scss */
.event-content .ee-event-datetimes-ul {
  list-style: none;
  padding: 0 0 12.5px;
  border-bottom: 1px solid #e4eef2;
}

/* line 46, ../scss/components/_events.scss */
.spco-next-step-btn,
.ticket-selector-submit-btn {
  border-radius: 30px;
  border: none;
  background: #7fba00;
  padding: 10px 20px;
  color: #fff;
  text-transform: uppercase;
  transition: background 0.3s, opacity 0.3s, color 0.3s ease;
}
/* line 56, ../scss/components/_events.scss */
.spco-next-step-btn:hover, .spco-next-step-btn:active,
.ticket-selector-submit-btn:hover,
.ticket-selector-submit-btn:active {
  background: #5c8700;
  color: white !important;
}

/* line 64, ../scss/components/_events.scss */
.tckt-slctr-tbl-td-name b {
  font-weight: 100;
}

/* line 71, ../scss/components/_events.scss */
.espresso-venue-dv h4 {
  margin: 0;
}
/* line 75, ../scss/components/_events.scss */
.espresso-venue-dv p {
  margin: 0;
}

/* line 80, ../scss/components/_events.scss */
#espresso-registration-footer-dv {
  display: none;
}

/* line 84, ../scss/components/_events.scss */
#espresso-thank-you-page-overview-dv .ee-button.ee-roundish.indented-text.big-text,
.spco-steps-big-hdr,
#spco-steps-display-dv {
  display: none;
}

/* line 95, ../scss/components/_events.scss */
.spco-ticket-info-dv.small-text thead th:nth-of-type(3n+4), .spco-ticket-info-dv.small-text thead th:nth-of-type(3n+3) {
  display: none;
}
/* line 102, ../scss/components/_events.scss */
.spco-ticket-info-dv.small-text .item .item_r,
.spco-ticket-info-dv.small-text .item .item_c {
  display: none;
}

/* line 110, ../scss/components/_events.scss */
.content .spco-whats-next-buttons {
  padding-top: 0;
}
/* line 114, ../scss/components/_events.scss */
.content .small-text {
  font-weight: 100;
  font-size: 0.95em;
}
/* line 119, ../scss/components/_events.scss */
.content .ee-attention {
  background: #d9edf7;
  border: 1px solid #bce8f1;
  text-align: left;
  color: #31708f;
}
/* line 126, ../scss/components/_events.scss */
.content #espresso-social-buttons-dv {
  margin: 50px 0;
}
/* line 14, ../scss/bootstrap/mixins/_clearfix.scss */
.content #espresso-social-buttons-dv:before, .content #espresso-social-buttons-dv:after {
  content: " ";
  display: table;
}
/* line 19, ../scss/bootstrap/mixins/_clearfix.scss */
.content #espresso-social-buttons-dv:after {
  clear: both;
}
/* line 131, ../scss/components/_events.scss */
.content .tiny-text {
  font-size: .9em;
  font-weight: 100;
}
/* line 136, ../scss/components/_events.scss */
.content .ee-icon-only-lnk {
  margin: 0 10px 25px 0;
}
/* line 140, ../scss/components/_events.scss */
.content .ee-button, .content .ee-button:active, .content .ee-button:visited {
  line-height: 1.5;
}

/* line 146, ../scss/components/_events.scss */
.ee-reg-form-attendee-dv input {
  padding: 10px;
}
/* line 150, ../scss/components/_events.scss */
.ee-reg-form-attendee-dv .ee-reg-qstn {
  margin-bottom: 12.5px;
}

/* line 155, ../scss/components/_events.scss */
#espresso-social-buttons-dv-g-plusone {
  margin-left: 10px;
}

/* line 162, ../scss/components/_events.scss */
.ee_participant_widget .event-attendees-list li {
  margin-bottom: 12.5px;
}
/* line 166, ../scss/components/_events.scss */
.ee_participant_widget .event-attendees-list img {
  border-radius: 50%;
  margin-right: 5px;
}

/* line 176, ../scss/components/_events.scss */
#espresso_calendar .fc-day-header {
  background: #149EEB;
  border: 1px solid #149EEB;
  color: white;
}

/* line 185, ../scss/components/_events.scss */
.fc-header-left .fc-button,
.fc-header-right .fc-button {
  border-radius: 23px !important;
  min-width: 20px;
  text-align: center;
}

@media only screen and (min-width: 1025px) {
  /* line 48, ../scss/all.scss */
  a[href^=tel], a[href^=skype], a[href^=sms] {
    cursor: default;
    pointer-events: none;
  }
}
